
* {
  font-family: 'Poppins', Verdana, sans-serif, serif;
  /*margin: 0;
  padding: 0;*/
  box-sizing: border-box;
}


/* Mobile */

@media only screen and (max-width: 600px) {

   #header-title {
      font-family: 'Kdam Thmor Pro', sans-serif;
}

   #header-title a {
      font-family: 'Kdam Thmor Pro', sans-serif;
}

main {
    margin: auto;
    width: 80%;
}

img.michael-image {
  width: 100%;
  margin-bottom: 20px;
}

.about-end {
   margin: auto;
   width: 80%;
}   

}



/* Tablet, Desktop */

@media only screen and (min-width: 601px) {

html, body {
    /*background-color: #994E06;*/ /* Dark brown */
    /* background-color: #76C297; - Medium Solid Green */
    /*background-color: #FCB465; - Yellowish Orange*/
    background-color: #F2FFF6;
    margin: 0;
}

#header-title {
  font-family: 'Kdam Thmor Pro', sans-serif;
  padding-top: 20px;
}

#header-title a {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

header {
    background-color: #86DBAB;
    padding: 20px;
}

#about-title {
    margin-top: 20px;
}


.navbar {
    margin-top: 20px;
}

main {
    margin: auto;
    width: 80%;
    margin-top: 50px;
    color: #385C48;
}

img.michael-image {
  width: 100%;
  margin-bottom: 20px;
}

.about-end {
   color: #385C48; /* Very Dark Green */
}

a {
    color: #385C48;
}

a:hover {
    color: #385C4880;
}

}