* {
  font-family: 'Poppins', Verdana, sans-serif, serif;
  box-sizing: border-box;
}

#header-title {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

#header-title a {
  font-family: 'Kdam Thmor Pro', sans-serif;
}



/* Mobile */

@media only screen and (max-width: 600px) {

  /*  html, body {
    margin: auto;
    max-width: 100%;
}*/

header {
    background-color: #86DBAB50;
    margin-top: -20px;
}

#header-title {
        padding-top: 70px;
     }

h3#spelling-game-title {
    margin-top: 10px;
}

    main {
    margin: auto;
    width: 80%;
}


    img {
    width: 100%;
    border-radius: 40px;
    border: 10px solid black;
}

    h3.user-title {
    text-align: center;

}

    #last-paragraph {
    margin-bottom: 100px;
}    

    p.ui-designs {
        display: none;
    }

    p.last-paragraph-desktop {
        display: none;
    }

}

/* Tablet, Desktop */

@media only screen and (min-width: 601px) {

html, body {
    margin: auto;
}

main {
    width: 80%;
    margin: auto;
    color: #385C48;
}

img {
	width: 100%;
    border-radius: 40px;
    border: 10px solid black;
    margin-bottom: 50px;
}

h3.user-title {
    text-align: center;
    color: black;
}

#last-paragraph {
    margin-bottom: 100px;
}

 p.ui-designs-mobile {
    display: none;
}

p.last-paragraph-mobile {
    display: none;
}

}