* {
  font-family: 'Poppins', Verdana, sans-serif, serif;
  box-sizing: border-box;
}

#header-title {
  font-family: 'Kdam Thmor Pro', sans-serif;
}

#header-title a {
  font-family: 'Kdam Thmor Pro', sans-serif;
}


/* Tablet, Desktop */

@media only screen and (min-width: 601px) {

 main {
    margin: auto;
    width: 80%;
    /*background-color: lightblue;*/
}

section {
  width: 90%;
  margin: auto;
}


img {
  width: 100%;
}

img.mobile {
    width: 50%;
    border: 1px solid black;
}

img.desktop {
    border: 1px solid black;
}

p#mobile-paragraph {
    display: none;
}

.last-section {
    margin-bottom: 70px; 
}

p.last-section-mobile {
    display: none;
}

.mockup-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /*border: 2px solid black;*/
}

.mockup-items {
    /*border: 2px solid green;*/
    text-align: center;
}

.mockup-desktop-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*border: 2px solid black;*/
}

.mockup-desktop-items {
    /*border: 2px solid green;*/
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
}

p {
    color: #385C48;
}

}



/* Mobile */
@media only screen and (max-width: 600px) {

     header {
      background-color: #86DBAB50;
      margin-top: -20px;
     }

     #header-title {
        padding-top: 70px;
     }

     main {
      width: 80%;
      margin: auto;
     }

     img {
      width: 100%;
      border: 1px solid black;
     }

     img.mobile {
        width: 60%;
        border: 1px solid black;
     }

     p#desktop-paragraph {
        display: none;
     }

     p.last-section {
        display: none;   
     }

     p.last-section-mobile {
        margin-bottom: 70px; 
}

}