


/* Mobile */

@media only screen and (max-width: 600px) {

       .portfolio-category {
          background-color: #385C48;
          width: 100%;
          height: 50vh;
          align-content: center;
          margin-bottom: 20px;
          color: #F2FFF6;
}

}